"$schema" = '_https://starship.rs/config-schema.json'

add_newline = false

command_timeout = 1000

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$line_break\
$container\
$character"""

scan_timeout = 200

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
vicmd_symbol = "[❮](green)"

[directory]
style = "cyan"
truncation_length = 0
truncate_to_repo = false

[git_branch]
format = "[$symbol$branch]($style)"
style = "italic #fff68f"

[git_commit]
commit_hash_length = 8
format = "[❬$hash ❭]($style)"
style = "#a0db8e"

[git_status]
format = '([❲$all_status$ahead_behind ❳]($style) )'
ahead = "⇡$count"
behind = "⇣$count"
conflicted = "[x$count](#c53145)"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
modified = "[!$count](yellow)"
staged = "[+$count](#6cc24a)"
stashed = "[≡$count](#4ddbdb)"
untracked = "[?$count](#dca64b)"
style = "grey"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

